// -------------------------------------- //
// -------------- BIG SLIDER ------------ //
// -------------------------------------- //

.big__slider__container
    overflow hidden 
    
.big__slider__image
    width 100%
    height auto


















