// ---------------------------------------- //
// -------------- INFO SECTION ------------ //
// ---------------------------------------- //

.info__section__holder
    background $gray
    padding 10px 0 0
    position relative

.info__section__list
    overflow hidden


.info__section__cta
    display block
    width 240px
    height 55px
    line-height 55px
    text-align center
    font-size 24px
    color $white
    background $orange
    text-transform uppercase
    border-radius 10px
    position absolute
    top -27.5px
    left 50%
    margin-left -120px
    font-family $font2


.info__section__header 
    text-align center
    color $white 
    font-size 30px
    line-height 50px
    padding 50px 0 40px
    text-transform uppercase

.info__section__list
    width 800px
    margin 0 auto

.info__section__item
    float left
    width 23%
    margin 0 2% 0 0
    
    
.info__section__title
    font-size 16px
    line-height 43px
    text-align center
    background url(../img/homepage/icon-holder.jpg) top center no-repeat
    background-size 100% auto
    position relative
    font-family $font3
    
    span
        display block
        padding 160px 0 20px
        font-size 46px
        color $blue1
        line-height 50px
        text-transform capitalize
        font-family $font4
        
    &:before
        width 76px
        height 76px
        line-height 76px
        display block
        position absolute
        top 50%
        left 50%
        margin -55px 0 0 -39px
        font-size 70px
        text-align center
        color $blue1
        font-family 'icons'
        
    &.file:before
        content '\e909'
        
    &.shield:before
        content '\e900'
        
    &.time:before
        content '\e901'
        
    &.home:before
        content '\e907'
    
.info__section__footer
    background $gray2
    color $gray
    font-size 18px
    line-height 22px
    padding 24px 40px
    text-align center
    margin 20px 0 0



