// ---------------------------------------- //
// -------------- INFO SECTION ------------ //
// ---------------------------------------- //

.info__section__holder
    background $gray
    padding 10px 0 200px

.info__section__holder,
.info__section__list
    overflow hidden

.info__section__list
    width 800px
    margin 0 auto

.info__section__item
    float left
    width 25%
    
.info__section__title
    font-size 14px
    text-align center
    background url(../img/homepage/icon-holder.jpg) top center no-repeat
    
    span
        display block
        padding 120px 0 0
    



