// ---------------------------------------- //
// --------------- MAIN FOOTER ------------ //
// ---------------------------------------- //


.main__footer
    border-top 10px solid $gray4
    background-color $gray5
    
.main__footer__container
    max-width $vp-desktop-min
    overflow hidden
    margin 0 auto
        
.side__holder
    box-sizing border-box
    padding 20px
    
    &.left
        float left
        width 50%
    
.main__footer__legal
    background-color $gray4
    color $white
    text-align center
    font-size 14px
    line-height 16px
    padding 20px 10px
    
    a 
        color $blue2
        text-transform uppercase
        &:hover
            color $orange
    
.articles__title
    color $white
    text-transform uppercase
    font-size 25px
    line-height 40px
    
.articles__item
    padding 5px 0
    border-bottom 1px solid $blue2
    
.articles__link
    color $white
    line-height 18px
    font-size 14px
    display block
    
    &:hover
        color $orange
        
.articles__link__more
    @extend .articles__link
    margin-top 20px
    display inline-block
    

.propaganda
    height 150px
    background url('../img/defaults/lurocks-logo-2.svg') center no-repeat $white
    background-size auto 200px
    
    h1 
        color rgba(0,0,0,0)




























