// ---------------------------------------- //
// -------------- GENERIC GRID ------------ //
// ---------------------------------------- //

.generic__container
    max-width $size-desktop
    
    
.generic__container
    display block
    margin 0 auto