//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../layout/layout


block append head
    link(href='css/home.css', rel='stylesheet', type='text/css')


block content
    //- content goes here
    div.generic__container
        include ../modules/big-slider

    section
        include ../modules/page-title

        include ../modules/info-section

    include ../modules/best-option

block append footer-scripts
    script(src="js/homepage.js")