//- -------------- INFO SECTION ---------------- -//
//- -------------------------------------------- -//

div.best__option__container
    article.best__option__holder.left
        h2.best__option__title PORQUE SOMOS SU MEJOR OPCION?

        h3.best__option__subtitle Su #[span.red proyecto] está seguro en nuestras manos

        p.best__option__text Trabajamos rápido y con excelente calidad, utilizamos los mejores materiales y podemos adaptarnos a su presupuesto.
        p.best__option__text Conozcanos y compruebe nuestro trabajo.


    article.best__option__holder.left
        h2.best__option__title COMO PODEMOS AYUDARLE?

        h3.best__option__subtitle Inicie su sueño con solo 3 pasos!

        ul.best__option__list
            li.best__option__item(data-number='1') Contáctenos y #[a.rounded(href='#') cotice] su idea
            li.best__option__item(data-number='2') Planeamos y definimos pormenores
            li.best__option__item(data-number='3') Relájese y vea su proyecto cobrar vida



