//- -------------- Big Slider ---------------- -//
//- ------------------------------------------ -//

section.big__slider__container
    ul.big__slider
        li.big__slider__item
            img.big__slider__image(src='img/slider/slide-01.jpg')