//- -------------- INFO SECTION ---------------- -//
//- -------------------------------------------- -//

article.info__section__holder
    a.info__section__cta(href='#') Tiene Dudas?

    h2.info__section__header Construir es complicado...

    ul.info__section__list
        li.info__section__item 
            h2.info__section__title.file(icon="e901") complicados #[span tramites]
        li.info__section__item 
            h2.info__section__title.shield no sentirse #[span seguro]
        li.info__section__item 
            h2.info__section__title.time pierde mucho #[span tiempo]
        li.info__section__item 
            h2.info__section__title.home productos de #[span calidad]

    h4.info__section__footer POR ESA RAZON SOMOS SU MEJOR OPCION, NOS INTERESA NUESTRO NOMBRE Y HACEMOS TRABAJOS DE CALIDAD