//- -------------- INFO SECTION ---------------- -//
//- -------------------------------------------- -//

article.info__section__holder
    a.info__section__cta(href='#') Tiene Dudas?

    h2.info__section__header Construir es complicado

    ul.info__section__list
        li.info__section__item 
            h2.info__section__title complicados #[span tramites]
        li.info__section__item 
            h2.info__section__title no sentirse #[span seguro]
        li.info__section__item 
            h2.info__section__title pierde mucho #[span tiempo]
        li.info__section__item 
            h2.info__section__title productos de #[span calidad]