//- -------------- TITLE SEPARATOR ---------------- -//
//- ----------------------------------------------- -//

header.page__title__holder
    h1.page__title #[span.page__title__text PAGE TITLE]
    nav.page__title__nav
        +socialNav('cl')