
//- -------------- PROJECTS SLIDER ---------------- -//
//- ----------------------------------------------- -//

div.projects__slider__container
    
    h2.projects__slider__header Algunos projectos recientes
    
    div.projects__slider
        ul.projects__slider__list
            li.projects__slider__item
                a.projects__slider__link(href='#')
                    span.projects__slider__img-holder
                        img.projects__slider__image(src='img/samples/projects-sample.jpg', alt='project name | lurocks construccion')
                    h3.projects__slider__title NOMBRE DEL PROYECTO 
                    p.projects__slider__description Descripción del proyecto Descripción del proyecto Descripción del proyecto Descripción del proyecto

            li.projects__slider__item
                a.projects__slider__link(href='#')
                    span.projects__slider__img-holder
                        img.projects__slider__image(src='img/samples/projects-sample.jpg', alt='project name | lurocks construccion')
                    h3.projects__slider__title NOMBRE DEL PROYECTO 
                    p.projects__slider__description Descripción del proyecto Descripción del proyecto Descripción del proyecto Descripción del proyecto

            li.projects__slider__item
                a.projects__slider__link(href='#')
                    span.projects__slider__img-holder
                        img.projects__slider__image(src='img/samples/projects-sample.jpg', alt='project name | lurocks construccion')
                    h3.projects__slider__title NOMBRE DEL PROYECTO 
                    p.projects__slider__description Descripción del proyecto Descripción del proyecto Descripción del proyecto Descripción del proyecto

    footer.projects__slider__footer
        h4.projects__slider__indication Para proteger la privacidad de nuestros clientes solo mostramos los proyectos en los cuales nos han dado permiso de hacerlo
