// ---------------------------------------- //
// ------------ GENERIC CONTENTS ---------- //
// ---------------------------------------- //

@font-face {
    font-family: 'olivierregular';
    src: url('../fonts/oliver/olivier_demo-webfont.eot');
    src: url('../fonts/oliver/olivier_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oliver/olivier_demo-webfont.woff2') format('woff2'),
         url('../fonts/oliver/olivier_demo-webfont.woff') format('woff'),
         url('../fonts/oliver/olivier_demo-webfont.ttf') format('truetype'),
         url('../fonts/oliver/olivier_demo-webfont.svg#olivierregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald/oswald-light-webfont.eot');
    src: url('../fonts/oswald/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald/oswald-light-webfont.woff2') format('woff2'),
         url('../fonts/oswald/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo300';
    src: url('../fonts/museo/museo300-regular-webfont.eot');
    src: url('../fonts/museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo300-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo300-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'icons';
    src:
        url('../fonts/icons/icons.ttf?uod260') format('truetype'),
        url('../fonts/icons/icons.woff?uod260') format('woff'),
        url('../fonts/icons/icons.svg?uod260#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shield:before {
    content: "\e900";
}
.icon-time:before {
    content: "\e901";
}
.icon-twitter-sq:before {
    content: "\e902";
}
.icon-twitter-cl:before {
    content: "\e903";
}
.icon-face-cl:before {
    content: "\e904";
}
.icon-face-sq:before {
    content: "\e905";
}
.icon-home:before {
    content: "\e906";
}
.icon-home2:before {
    content: "\e907";
}
.icon-office:before {
    content: "\e908";
}
.icon-file-text2:before {
    content: "\e909";
}
.icon-calculator:before {
    content: "\e90a";
}
.icon-phone:before {
    content: "\e90b";
}
.icon-address-book:before {
    content: "\e90c";
}
.icon-location:before {
    content: "\e90d";
}
.icon-location2:before {
    content: "\e90e";
}
.icon-calendar:before {
    content: "\e90f";
}
.icon-wrench:before {
    content: "\e910";
}
.icon-star-empty:before {
    content: "\e911";
}
.icon-star-half:before {
    content: "\e912";
}
.icon-star-full:before {
    content: "\e913";
}
.icon-mail-sq:before {
    content: "\e914";
}
.icon-mail-cl:before {
    content: "\e915";
}
.icon-google-sq:before {
    content: "\e916";
}
.icon-google-cl:before {
    content: "\e917";
}


