/* GLOBAL VARIABLES */
$size-desktop             = 1400px
$size-desktop-in          = 1020px
$vp-desktop-min           = 1025px

$vp-tablet-min            = 769px
$vp-tablet-max            = 1024px
$size-tablet-in           = 820px

$vp-mobile-min            = 320px
$vp-mobile-max            = 768px


//------------------ COLOR VARIABLES -------------------//
$bg-color       = #5985b1


/* BLUE COLORS */
$blue0          = #7fdbfd
$blue1          = #00aeef
$blue2          = #0089bc
$blue3          = #005c7e
$blue4          = #006aa1

/* HOT COLORS */
$orange         = #eb5d2b


/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000
$gray           = #424242



//------------- FONTS ---------------//
$font-title-regular         = 'ProximaNova-Regular'
$font-title-semibold        = 'ProximaNova-Semibold'
$font-title-bold            = 'ProximaNova-Bold'
$font-title-extrabold       = 'ProximaNova-Extrabold'
$font-title-semibold-italic = 'ProximaNova-SemiboldItalic'
$font-normal                = Arial, sans-serif, 'Helvetica Neue', Helvetica
$font-wt-light              = 300
$font-wt-regular            = 400
$font-wt-bold               = 700
$font-wt-extrabold          = 900


//------------------- BRAKEPOINTS -------------------//
media_queries = {
    mobile  : "only screen and (min-width: "+ $vp-mobile-min +") and (max-width: "+ $vp-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $vp-tablet-min +") and (max-width: "+ $vp-tablet-max +")",
    desktop : "only screen and (min-width: "+ $vp-desktop-min +")"
}







