/* GLOBAL VARIABLES */
$size-desktop             = 1400px
$vp-desktop-min           = 1025px

$vp-tablet-min            = 769px
$vp-tablet-max            = 1024px

$vp-mobile-min            = 320px
$vp-mobile-max            = 768px


//------------------ COLOR VARIABLES -------------------//
$bg-color       = #5985b1


/* BLUE COLORS */
$blue0          = #7fdbfd
$blue1          = #00aeef
$blue2          = #0089bc
$blue3          = #005c7e
$blue4          = #006aa1
$blue5          = #1b4a68

/* CYAN */
$cyan           = #4bc8cf
$cyan2          = #127f9f

/* HOT COLORS */
$orange         = #ff9c00
$red            = #e84d5b
$redgray        = #665157

/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000
$gray           = #424242
$gray2          = #d2d2d2
$gray3          = #232323
$gray4          = #1b1d29
$gray5          = #272833



//------------- FONTS ---------------//
$font4                  = 'olivierregular'
$font3                  = 'museo300'
$font2                  = 'oswaldlight'
$font1                  = Arial, sans-serif, 'Helvetica Neue', Helvetica
$font-wt-light          = 300
$font-wt-regular        = 400
$font-wt-bold           = 700
$font-wt-extrabold      = 900


//------------------- BRAKEPOINTS -------------------//
media_queries = {
    mobile  : "only screen and (min-width: "+ $vp-mobile-min +") and (max-width: "+ $vp-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $vp-tablet-min +") and (max-width: "+ $vp-tablet-max +")",
    desktop : "only screen and (min-width: "+ $vp-desktop-min +")"
}







